body {
    font-family: "courier new", serif;
    background-color: #1C1C1C;
    background-size: cover;
    padding: 20px;
}

table {
    padding: 3px;
    background-color: gray;
    border: solid whitesmoke 2px;
    border-radius: 10px;
    box-shadow: cyan 2px 2px 30px 2px;
}

.space-report{
    padding: 5px;
    background-color: gray;
    border: solid whitesmoke 2px;
    border-radius: 10px;
    box-shadow: cyan 2px 2px 30px 2px;
    width: 100%;
}

td {
    border: black solid 1px;
    padding: 3px 3px 3px 10px;
}

label {
    text-shadow: black 1px 1px;
}


tr {
    border: black solid 1px;
    padding: 3px;
}

input {
    margin: 3px;
    border-radius: 3px;

}

h1 {
    color: greenyellow;
}

h2 {
    color: greenyellow;
    text-shadow: black 1px 1px 1px;
}

button {
    background-color: greenyellow;
}

form {
    color: greenyellow;
}

input {
    background-color: lightgray;
}

.container {
    display: grid;

    grid-template-areas:
    "header header header header"
    "nasa-img db db db"
    "sub reports reports reports"
    "none reports reports reports";

    column-gap: 70px;
    row-gap: 10px;
    margin: 25px 100px 25px 100px;
}

.header {
    grid-area: header;
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 45px;
    text-align: center;
    text-shadow:  0 2px black;
    font-size: 2em;
    border-radius: 15px;
    box-shadow: 10px 10px 60px 5px lime;
    background: url("../images/ufo_bbc.jpeg") center;
    background-size: cover;
    border: 1px #1a5c20 solid;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sub {
    grid-area: sub;
    background-color: gray;
    padding: 20px;
    border: whitesmoke solid;
    border-radius: 10px;
}

.db {
    grid-area: db;
}

button {
    margin-top: 18px;
    font-family: "courier new", serif;
}

input {
    margin-top: 10px;
    font-family: "courier new", serif;
    display: block;
}

input[type=button] {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 3px;
}


input[type=text] {
    width: 20em;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    display: block;
    background-color: lightgray;
    height: 8em;
    width: 21em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-holder {
    align-content: center;
}

.sub {
    box-shadow: cyan 2px 2px 30px 2px;
}

hr {
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
}

.nasa-report{
    padding-left: 20px;
    padding-right: 20px;
    grid-area: reports;
}

.url-div{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

a{
    color: whitesmoke;
}

#reports{
    margin-top: 15px;
    grid-area: reports;
}

.daily{
    padding: 3px;
    background-color: gray;
    border: solid whitesmoke 10px;
    border-radius: 10px;
    box-shadow: cyan 2px 2px 40px 2px;
}

#daily-img{
    align-content: center;
}

#nasa-img{
    width: 100%;
}

#num-form{
    align-content: center;
}

.nasa-img{
    grid-area: nasa-img;
}